<%- include('../partials/header.ejs') %>

<div class="container">

    <h1>Edição de Usuário</h1>
    <%- include('forms/role-edit.ejs') %>
    <%- include('../partials/msg.ejs') %>

</div>

<%- include('../partials/footer.ejs') %>