<%- include('../partials/header.ejs') %>

<div class="container">

    <h1>Cadastro de Permissões</h1>
    <%- include('forms/role-new.ejs') %>
    <%- include('../partials/msg.ejs') %> 

</div>

<%- include('../partials/footer.ejs') %>