<form method="POST" action="/profile/password">
  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">Senha Atual</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" name="password">
    </div>
  </div>
  <div class="form-group row">
    <label for="passwordNew" class="col-sm-2 col-form-label">Nova Senha</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" name="passwordNew">
    </div>
  </div>
  <div class="form-group row">
    <label for="passwordMatch" class="col-sm-2 col-form-label">Confirme a Nova Senha</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" name="passwordMatch">
    </div>
  </div>
  <button class="btn btn-primary btn-sm" type="submit">Alterar Senha</button>
</form>
<% if (alert.length >0) { %>
<% alert.forEach(e => { %>
<%- e.msg %>
<% }) %>
<% } %>

<% if (error) { %>
<%- error %>
<% } %>