<%- include('../partials/header.ejs') %>

<div class="container">

    <h1>Cadastro de Usuário</h1>
    <%- include('forms/user-new.ejs') %>
    <%- include('../partials/msg.ejs') %> 

</div>

<%- include('../partials/footer.ejs') %>